In [2]:
x, y, z,r = "Orange", "Banana", "Cherry","mango"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [3]:
r

'mango'

In [7]:
x=y=z= "Orange",'mango'

In [8]:
z

('Orange', 'mango')

In [15]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [16]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [18]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [19]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [20]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [21]:
x = range(6)
x

range(0, 6)

In [22]:
type(x)

range

In [23]:
x = b"Hello"
x

b'Hello'

In [25]:
type(x)

bytes

In [27]:
x = bytearray(5)
x

bytearray(b'\x00\x00\x00\x00\x00')

In [28]:
 w = memoryview(bytes(5))

In [29]:
w

In [32]:
x = dict(name="John", age=36)
x

{'name': 'John', 'age': 36}

In [37]:
wx = {'name' :"John", 'age' :36}
wx

{'name': 'John', 'age': 36}

In [31]:
wx = dict(name:"John", age:36)
wx

SyntaxError: invalid syntax (<ipython-input-31-b1cb6bf0bbf4>, line 1)

In [39]:
x = bytes(5)
x

b'\x00\x00\x00\x00\x00'

In [42]:
e = bool(6)
e

True

In [46]:
x = frozenset(("apple", "banana", "cherry"))   #Build an immutable unordered collection of unique elements
x

frozenset({'apple', 'banana', 'cherry'})

In [47]:
x = set(("apple", "banana", "cherry"))

In [49]:
x = frozenset
x

frozenset

In [50]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [52]:
import random
print(random.randrange(1,10))

1

In [57]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [58]:
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [59]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [60]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [61]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [62]:
b = "Hello, World!"
print(b[2:5])

llo

In [67]:
b = "Hello, World!"
print(b[-9:-3])

o, Wor

In [68]:
a = "Hello, World!"
print(len(a))

13

In [69]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [70]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [71]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [72]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [73]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [74]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [75]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [76]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [77]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [78]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [80]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a>=b:
    print('a is greater than ')
else:
  print("b is not greater than a")

a is greater than

In [81]:
print(bool("Hello"))
print(bool(15))

True
True

In [82]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [83]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [86]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [87]:
class myclass():
  def __len__(self):
    return 2

myobj = myclass()
print(bool(myobj))

True

In [88]:
x = 200
print(isinstance(x, int))

True

In [90]:
x = 200.002
print(isinstance(x, int))

False

In [91]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [92]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [93]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [94]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [95]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [97]:
list2.extend(list1)
print(list2)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [98]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [103]:
thistuple = ("apple", "banana", "cherry")

print(thistuple)

('apple', 'banana', 'cherry')

In [105]:
thistuple.count('apple')

1

In [107]:
thistuple.index('cherry')

2

In [100]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [101]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [108]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 'c', 2, 3, 'b'}

In [110]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [111]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [112]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [114]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [115]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [128]:
si = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [129]:
si

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [130]:
si['child1']

{'name': 'Emil', 'year': 2004}

In [131]:
si['child1']

{'name': 'Emil', 'year': 2004}

In [133]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [134]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [135]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    continue

apple
banana
cherry

In [136]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [137]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [138]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [139]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [140]:
#Example
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [141]:
x = lambda a : a + 10
print(x(5))

15

In [144]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [146]:
x = lambda a, b, c : a + b + c
x(5, 6, 2)

13

In [147]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [148]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [149]:
def greeting(name):
  print("Hello, " + name)

In [150]:
import mymodule

mymodule.greeting("Jonathan")

ModuleNotFoundError: No module named 'mymodule'

In [151]:
import platform

x = dir(platform)
print(x)

['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_dist_try_harder', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', '_ver_stages', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']