In [1]:
cars = ["Ford", "Volvo", "BMW"]
cars

['Ford', 'Volvo', 'BMW']

In [2]:
type(cars)

list

In [5]:
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"

In [7]:
x = cars[0]
x

'Ford'

In [9]:
cars[0] = "Toyota"
cars

['Toyota', 'Volvo', 'BMW']

In [11]:
x = len(cars)
x

3

In [12]:
for x in cars:
  print(x)

Toyota
Volvo
BMW

In [14]:
cars.append("Honda")
cars

['Toyota', 'Volvo', 'BMW', 'Honda', 'Honda']

In [15]:
cars.pop(3)

'Honda'

In [16]:
cars

['Toyota', 'Volvo', 'BMW', 'Honda']

In [23]:
cars

['Toyota', 'BMW', 'Honda']

In [26]:
cars.remove("BMW")

In [27]:
cars

['Toyota', 'Honda']

In [29]:
'''append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list'''
cars

['Toyota', 'Honda']

In [38]:
a = [[(1,2,3,4.5)
      ,(1,3.5,4.3)]]
a

[[(1, 2, 3, 4.5), (1, 3.5, 4.3)]]

In [ ]:
# INSERT IMAGE
from ipython.display import image
image("desktop\")